<div class="container review-button-moderator">
    <button class="flagged-review-button big-buttn" type="button"><a href="/home/flagged">Flagged review</a></button>
    <button class="new-subject-button big-buttn" type="button"><a href="/home/pending_subject">New subject</a></button>
</div>  