<form action="/login" method="post" id="login">
  <div class="content">
    <div class="login">
      <div class="logo">
        <img src="/assets/img/Subject%20Review%20Logo.png" alt="" />
      </div>
      <div id="err" style="padding: 5%; height: 40px;">
        The username or password was incorrect. Please try again.
      </div>
      <ul>
        <li><label>Username</label></li>
        <li>
          <input
            id="username"
            name="username"
            type="text"
            placeholder="Enter your username"
            style="padding-left: 10px; padding-right: 10px"
            value="<%=locals.username%>"
            required
          />
        </li>
      </ul>

      <ul>
        <li><label>Password</label></li>
        <li>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="Enter your password"
            style="padding-left: 10px; padding-right: 10px"
            required
          />
        </li>
      </ul>
    </div>

    <a
      href="#"
      onclick="document.getElementById('forget').style.display='block'"
      style="padding-left: 200px; font-size: 14px"
      >Forget password?
    </a>

    <div class="loginbutton">
      <button type="submit">Login</button>
    </div>
    <p>Don't have an account?<a href="/signup"> Sign up</a></p>
  </div>
</form>

<!-- The Modal -->
<div id="forget" class="modal">
  <!-- Modal Content -->

  <form class="modal-content animate" method="post" action="/forget">
    <span
      onclick="document.getElementById('forget').style.display='none'"
      class="close"
      title="Close"
      >&times;</span
    >
    <div class="forgetemail">
      <h1>Forget your password?</h1>
      <br />
      <p>Enter the email address associated with your account</p>
      <p>and we'll send you a link to reset your password</p>
      <br />
      <br />
      <div class="forget">
        <ul>
          <li><label>Your email</label></li>
          <li>
            <input
              type="text"
              placeholder=" Enter your email address..."
              required
            />
          </li>
        </ul>
      </div>
      <br />
      <br />
      <br />
      <br />
      <div class="sendemailbutton">
        <button type="submit">Send email to me</button>
      </div>
    </div>
  </form>
</div>
<script>
  if ("<%=locals.username%>" !== "") {
    document.getElementById("err").style.display = "flex";
  }
  var modal = document.getElementById("forget");

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  };
</script>
