<nav>
  <div class="container navbar-container">
    <img src="/static/Subject Review Logo.png" />
    <form class="nav-searchbar">
      <input type="text" placeholder=" Enter Subject Name/Code..." />
      <button><span class="material-symbols-outlined">search</span></button>
    </form>
    <ul class="navbar-menu">
      <li><a href="/student/home">Home</a></li>
      <li><a href="/student/browse">Browse</a></li>
      <li><a href="/student/history">History</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </div>
</nav>
