<div class = "form-field">
    <label for = "subjectCode">Subject</label>
    <input type = "text"  name = "subjectCode" class="each-field">
</div>

<div class = "form-field">
    <label for = "subject">Subject</label>
    <div class="star-review">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
</div>

<div class = "form-field">
    <label for = "content">Review-content</label>
    <textarea name = "content" class="each-field big-form">
    </textarea>
</div>

<div class = "form-field inline-checkbox toright">
    <div class = "visible-checkbox inline-checkbox">
        <input style="width: 30px; height:30px" name = "visible" type="checkbox">
        <label style = "margin-top: -6px" for = "visible">Visible</label>
    </div>
    
    <div class = "private-checkbox inline-checkbox" style="margin-right: -60px; margin-left: 20px;">
        <input style="width: 30px; height:30px" name = "private" type="checkbox">
        <label style = "margin-top: -6px" for = "private">Private</label>
    </div>
    
</div>

<div class="close-submit-bttn">
    <a href = "/home" style="font-size: 26px;">close</a>
    <button type = "submit" formmethod = 'post' class = "medium-buttn submit-bttn" >submit</button>

</div>

