<form action="/signup" method="post" id="signup">
  <div class="content">
    <div class="login">
      <div class="logo">
        <img src="/assets/img/Subject%20Review%20Logo.png" alt="" />
      </div>
      <ul>
        <li><label>Username</label></li>
        <li>
          <input
            required
            type="text"
            placeholder=" Enter your username"
            name="username"
          />
        </li>
      </ul>

      <ul>
        <li><label>Name</label></li>
        <li>
          <input
            required
            type="text"
            placeholder=" Enter your name"
            name="fullName"
          />
        </li>
      </ul>

      <ul>
        <li><label>Email</label></li>
        <li>
          <input
            required
            type="text"
            placeholder=" Enter your email address"
            name="email"
          />
        </li>
      </ul>

      <ul>
        <li><label>Password</label></li>
        <li>
          <input
            required
            type="password"
            placeholder=" Enter your password"
            name="password"
          />
        </li>
      </ul>
    </div>

    <div class="signupbutton">
      <button type="submit">Sign Up</button>
    </div>
    <p>Already have an account?<a href="/login"> Sign in</a></p>
  </div>
</form>
