<header>
    <div class="container header-container">
        <div class="header-content header-content-np">
            <div class = "subject-name-code">
                <h1><%= review.subjectName %></h1>
                <h9><%= review.subjectCode %></h9>
            </div>

            <div class="lowerheader-wrftsbutton">
                <div class="lower-header-part">
                    <h2>X reviews <b>|</b> Overall</h2>
                    <div class="star-review">
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                        <span class="material-symbols-outlined">star</span>
                    </div>
                </div> 
                <a href="/student/write_review" class="medium-buttn wrfts-button">Write review for this subject</a>
            </div> 

        </div>
    </div>
</header>