<header>
  <div class="container header-container">
    <div class="header-content">
      <h1>Welcome, <b><%= locals.fullName || "Student Name"%></b>!</h1>
      <a href="/student/write_review" class="write-review-button big-buttn">Write Review</a>
    </div>
  </div>
</header>
