<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review: Admin Home</title>
    <link rel="stylesheet" href="../../assets/css/homepage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,1,0" />
</head>


<body>
<nav>
    <%- include('../partials/navbars/_moderator_navbar') %>
</nav>

<header>
    <div class="container header-container">
        <div class="header-content">
            <h1>Welcome, <b><%=locals.fullName%></b>!</h1>
            <h2>X flagged reviews <b>|</b> Y new subjects</h2>
        </div>
    </div>
</header>

<section class="review-section">
    <div class="container review-button-moderator">
        <button class="flagged-review-button big-buttn" type="button"><a href="Moderator-Homepage(Flagged review).html">Flagged review</a></button>
        <button class="new-subject-button big-buttn" type="button"><a href="Moderator-Homepage(New%20Subject).html">New subject</a></button>
    </div>
    <div class="container review-container-moderator">
        <article class="each-review each-review-big">
            <div class="review-titlebar">
                <div>
                    <h5>Disrespectful! Please delete it.</h6>
                </div>
                <div>
                    <button class="neglect-button medium-buttn" type="button">Neglect</button>
                    <button class="remove-button small-buttn" type="button">Remove</button>
                </div>

            </div>

            <div class="review-header-flagged">
                <div class="header-flagged">
                    <h3>COMP30026</h3>
                    <h4>University of Melbourne</h4>
                </div>

                <div class="star-review">
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                    <span class="material-symbols-outlined">star</span>
                </div>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor lacus luctus accumsatum varius duis at. Vitae nunc sed velit dignissim sodales ut. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Venenatis cras sed felis eget.
            </p>
            <h7><b>Example student</b> date</h7>

            <div class="review-footer">
                <button class="like-button small-buttn"><img src="/assets/img/Like%20symbol.png">111</button>
                <h8>2 Replies</h8>
                <h8>Visable</h8>
            </div>
        </article>
    </div>

</section>
</body>