<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-interest asking</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>


<body>
    <div class="x">
        <img src="/assets/img/x.png" alt="" class="exit">
    </div>

    <div class="Emailsent">   
        <div class="logo">
            <img src="/assets/img/Email.png" alt="" class="email">
        </div>
        <div class="sent">
            <p>We sent a link to reset password to</p>
            <p style="color: #EFC0EC; font-weight: normal;">example.student.unimelb.edu.au</p>
            <P>Check your inbox and click on the provided ink to reset your</P>
            <p>password!</p>
        </div>
        <br>
        <div class="emailsentbutton">
            <button type="button">Back</button>
        </div>
        <br>
        <a href=""> Resend Email</a>
    </div>
</body>
</html>