<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review-Forgetting Email</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>


  <body>
    <div class="x">
      <a href="/">
        <img src="../../assets/img/x.png" alt="" class="exit" />
      </a>
    </div>

    <form method="post">
        <div class="forgetemail">
        <h1>Forget your password?</h1>
        <br />
        <p>Enter the email address associated with your account</p>
        <p>and we'll send you a link to reset your password</p>
        <br />
        <div
            id="err"
            style="flex-direction: column; min-height: 50px; padding: 5% 2.5% 5% 5%;"
        ></div>
        <div class="forget">
            <ul>
            <li><label>Your email</label></li>
            <li>
                <input type="text" placeholder=" Enter your email address..." />
            </li>
            </ul>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="sendemailbutton">
            <button type="button" >Send email to me</button>
        </div>
        </div>
    </form>

  </body>
</html>
