<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review-Guest Homepage</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,100,1,0"
    />
  </head>

  <body>
    <div class="Moderator-Navbar">
      <img id="main-logo" src="../assets/img/Subject Review Logo.png" />

      <form>
        <input
          type="text"
          placeholder=" Enter University Code/Subject Name/Code..."
        />
      </form>

      <div id="Student-Navitem">
        <li><a href="/home" class="active">Home</a></li>
        <li><a href="/login">Login</a></li>
      </div>
    </div>

    <div class="review-section">
      <div class="col">
        <div class="heart-icon">
          <span class="material-symbols-outlined">favorite</span>
        </div>
        <h1>COMP30026</h1>
        <h2>University of Melbourne</h2>
        <div class="star-review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p>
          High workload, valuable , LOTS of different assessments. However,
          tutorials and lectures were...
        </p>
        <footer></footer>
      </div>

      <div class="col">
        <div class="heart-icon">
          <span class="material-symbols-outlined">favorite</span>
        </div>
        <h1>COMP30026</h1>
        <h2>University of Melbourne</h2>
        <div class="star-review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p>
          High workload, valuable , LOTS of different assessments. However,
          tutorials and lectures were...
        </p>
        <footer></footer>
      </div>

      <div class="col">
        <div class="heart-icon">
          <span class="material-symbols-outlined">favorite</span>
        </div>
        <h1>COMP30026</h1>
        <h2>University of Melbourne</h2>
        <div class="star-review">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p>
          High workload, valuable , LOTS of different assessments. However,
          tutorials and lectures were...
        </p>
        <footer></footer>
      </div>
    </div>
  </body>
</html>
