<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review-interest asking</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>

  <body>
    <div class="interest">
      <div class="asking">
        <p>Choose your interest</p>
      </div>
      <br />
      <div class="change">
        <p>You can change your preference later</p>
      </div>
      <br />
      <br />
      <div class="group">
        <button style="background: url(/assets/img/Architecture.png)">
          <label>Architecture</label>
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Business.png)">
          <label>Business</label>
        </button>
        <div class="space2"></div>
        <button class="active" style="background: url(/assets/img/Design.png)">
          <label>Design</label>
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Education.png)">
          <label style="background-color: rgba(187, 29, 108, 0.726)"
            >Education</label
          >
        </button>
      </div>
      <br />
      <br />
      <br />
      <br />

      <div class="group">
        <button style="background: url(/assets/img/Sports.png)">
          <label>Sports</label>
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Enviroment.png)">
          <label style="background-color: rgba(16, 110, 58, 0.7)"
            >Enviroment</label
          >
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Food.png)">
          <label style="background-color: rgba(202, 100, 17, 0.7)">Food</label>
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Science.png)">
          <label>Science</label>
        </button>
      </div>

      <br />
      <br />
      <br />
      <br />

      <div class="group">
        <button style="background: url(/assets/img/Sociology.png)">
          <label style="background-color: rgba(204, 14, 141, 0.7)"
            >Sociology</label
          >
        </button>
        <div class="space2"></div>
        <button
          style="background: url(/assets/img/Information\ Technology.png)"
        >
          <label>IT</label>
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Law.png)">
          <label>Law</label>
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Media.png)">
          <label style="background-color: rgba(158, 105, 189, 0.7)"
            >Media</label
          >
        </button>
      </div>

      <br />
      <br />
      <br />
      <br />

      <div class="group">
        <button style="background: url(/assets/img/Medicine.png)">
          <label style="background-color: rgba(39, 109, 201, 0.7)"
            >Medicine</label
          >
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Nursing.png)">
          <label style="background-color: rgba(56, 122, 209, 0.616)"
            >Nursing</label
          >
        </button>
        <div class="space2"></div>
        <button style="background: url/assets/img/Health\ Science.png);">
          <label style="background-color: rgba(31, 92, 172, 0.7)"
            >Health Science</label
          >
        </button>
        <div class="space2"></div>
        <button style="background: url(/assets/img/Engineering.png)">
          <label style="background-color: rgba(31, 92, 172, 0.7)"
            >Engineering</label
          >
        </button>
      </div>
    </div>

    <br />
    <br />
    <div style="text-align: right">
      <div class="buttongroup" style="display: inline-flexbox">
        <div class="backbutton">
          <button type="button">Back</button>
        </div>

        <div class="finishbutton">
          <button type="button">Finish</button>
        </div>
      </div>
    </div>

    <br />
    <br />
  </body>
</html>
