<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <body style="margin-top: 15%; margin-bottom: 15%">
    <div
      class="content"
      style="display: flex; align-items: center; flex-direction: column"
    >
      <div class="logo" style="display: flex">
        <img
          src="/assets/img/Logo.png"
          alt=""
          class="center"
          style="width: 60%"
        />
      </div>
      <div class="landingpagebutton">
        <button type="button" onclick="document.location='/login'">
          Login
        </button>
        <div class="space"></div>
        <button type="button" onclick="document.location='/signup'">
          Get Started
        </button>
      </div>
    </div>
  </body>
</html>
<script>
  if (<%=locals.signedup%> === 1) {
      document.getElementsByClassName("content")[0].insertAdjacentHTML('beforeend', "<div id=\"err\" style=\"display:block; margin-top: 10px\">You've signed up! Please log in :)</div>")
  }
</script>
