<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review-signup</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <div class="content">
      <div class="logo">
        <img src="/assets/img/Logo.png" alt="" class="center" />
      </div>
      <div class="landingpagebutton">
        <button type="button" onclick="document.location='/login'">
          Login
        </button>
        <div class="space"></div>
        <button type="button" onclick="document.location='/signup'">
          Get Started
        </button>
      </div>
    </div>
  </body>
</html>
