<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-Moderator Homepage (Browse)</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="Moderator-Navbar">
        <img id = "main-logo" src="img/Subject Review Logo.png">
        
        <form>
            <input type="text" placeholder=" Enter University Code/Subject Name/Code..."> 
        </form> 

        <div id = "Moderator-Navitem">
            <li><a href="#" class ="active">Home</a></li>
            <li><a href="#">Login</a></li>
        </div>
        
    </div>
    <div class="review-section">

            <div class="star-review">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>

    </div>
    <div class = "Moderator-Welcomebar">
        <div style="line-height:20px;">
            <h1>IT Project</h1>
            <h2 style="font-weight:normal ;">COMP30026</h2>
        </div>
       
            
           
        <div style="display:inline-flex;">
            <h2>X reviews <b style="color: #6A4873 ;">|</b> Overall</h2>
            <div id="star-visable" style=" 
            padding-top: 30px;  
            margin-left: 20px;
            margin-top: 0px;
            display: inline-flex;
            align-items: center;;">
                <div id="rating-star">
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                </div>           
            </div>         
        </div>
        
       
    </div>


    
    <div class="Moderator-Review-Section">
 
        <div id="Moderator-Review-Comment">
            <div id="Subject-Uni-Star">
                <div id="Subject-Uni">
                    <h1>Example</h1>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor lacus luctus accumsatum varius duis at. Vitae nunc sed velit dignissim sodales ut. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Venenatis cras sed felis eget.
                ...</p>
            <footer>Example student <a style="color: #ffffff; font-size: 18px;">date</a></footer>
        </div>
        <div id="Like-reply-visable">
            
            <button id="like-button" type="button"><img src="img/Like symbol.png">111</button>
            <h1>2 Replies</h1>
            <h2>Visable</h2>
        </div>
    </div>
    
</body>