<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-Moderator Homepage (Browse)</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="Moderator-Navbar">
        <img id = "main-logo" src="/assets/img/Subject Review Logo.png">
        
        <form>
            <input type="text" placeholder=" Enter University Code/Subject Name/Code..."> 
        </form> 

        <div id = "Student-Navitem">
            <li><a href="#" class ="active">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">History</a></li>
            <select name="Account" id="Account">
                <option value="Account">Account</option>                
            </select>
        </div>
        
    </div>

    <div class="review-section">

        <div class="col">
            <h1>COMP30026</h1>
            <h2>University of Melbourne</h2>
            <div id="rating-star">
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
            </div>
            <p>High workload, valuable , LOTS of different assessments.
                However, tutorials and lectures were...</p>
            <footer></footer>
        </div>

        <div class="col">
            <h1>COMP30026</h1>
            <h2>University of Melbourne</h2>
            <div id="rating-star">
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
            </div>
            <p>High workload, valuable , LOTS of different assessments.
                However, tutorials and lectures were...</p>
            <footer></footer>
        </div>

        <div class="col">
            <h1>COMP30026</h1>
            <h2>University of Melbourne</h2>
            <div id="rating-star">
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
                <span class="material-icons">star</span>
            </div>
            <p>High workload, valuable , LOTS of different assessments.
                However, tutorials and lectures were...</p>
            <footer></footer>
        </div>
    </div>
    
</body>