<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review-signup</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <div class="content">
      <div class="login">
        <div class="logo">
          <img src="/assets/img/Subject Review Logo.png" alt="" />
        </div>

        <ul>
          <li><label>Username</label></li>
          <li><input type="text" placeholder=" Enter your username" /></li>
        </ul>

        <ul>
          <li><label>Name</label></li>
          <li><input type="text" placeholder=" Enter your name" /></li>
        </ul>

        <ul>
          <li><label>Email</label></li>
          <li><input type="text" placeholder=" Enter your email address" /></li>
        </ul>

        <ul>
          <li><label>Password</label></li>
          <li><input type="password" placeholder=" Enter your password" /></li>
        </ul>
      </div>

      <div class="signupbutton">
        <button type="button">Sign Up</button>
      </div>
      <p>Already have an account?<a href="/"> Sign in</a></p>
    </div>
  </body>
</html>
