<link href="/style/style.css" rel="stylesheet" type="text/css"/>
<form action="/signup/choose_interests" method="post" id="signup_interests">
    <div class="interest">
        <div class="asking">
            <p>Choose your field(s)</p>
        </div>
        <br/>
        <div class="change">
            <p>You can change your preferences later.</p>
        </div>
        <br/>
        <br/>

        <div class="group">
            <!--maybe?? kinda looks wonky atm-->
            <input type="checkbox" hidden name="ARCH" id="ARCH"/>
            <label
                    class="b"
                    for="ARCH"
                    style="background: url(/assets/img/Architecture.png)"
            >
                <label for="ARCH">Architecture</label>
            </label>

            <input type="checkbox" hidden name="BUSA" id="BUSA"/>
            <label
                    class="b"
                    for="BUSA"
                    style="background: url(/assets/img/Business.png)"
            >
                <label for="BUSA">Business</label>
            </label>

            <input type="checkbox" hidden name="DESN" id="DESN"/>
            <label
                    class="b"
                    for="DESN"
                    style="background: url(/assets/img/Design.png)"
            >
                <label for="DESN">Design</label>
            </label>

            <input type="checkbox" hidden name="EDUC" id="EDUC"/>
            <label
                    class="b"
                    for="EDUC"
                    style="background: url(/assets/img/Education.png)"
            >
                <label for="EDUC">Education</label>
            </label>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>

        <div class="group">
            <input type="checkbox" hidden name="sports" id="sports"/>
            <label
                    class="b"
                    for="sports"
                    style="background: url(/assets/img/Sports.png)"
            >
                <label for="sports">Sports</label>
            </label>

            <input type="checkbox" hidden name="envi" id="envi"/>
            <label
                    class="b"
                    for="envi"
                    style="background: url(/assets/img/Enviroment.png)"
            >
                <label for="envi">Enviroment</label>
            </label>

            <input type="checkbox" hidden name="FOOD" id="FOOD"/>
            <label class="b" for="FOOD" style="background: url(/assets/img/Food.png)">
                <label for="FOOD" style="background-color: rgba(202, 100, 17, 0.7)"
                >Food</label
                >
            </label>

            <input type="checkbox" hidden name="SCIE" id="SCIE"/>
            <label
                    class="b"
                    for="SCIE"
                    style="background: url(/assets/img/Science.png)"
            >
                <label for="SCIE">Science</label>
            </label>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <div class="group">
            <input type="checkbox" hidden name="SOCI" id="SOCI"/>
            <label
                    class="b"
                    for="SOCI"
                    style="background: url(/assets/img/Sociology.png)"
            >
                <label for="SOCI" style="background-color: rgba(204, 14, 141, 0.7)"
                >Sociology</label
                >
            </label>

            <input type="checkbox" hidden name="INFO" id="INFO"/>
            <label
                    class="b"
                    for="INFO"
                    style="background: url(/assets/img/Information_Technology.png)"
            >
                <label for="INFO">IT</label>
            </label>

            <input type="checkbox" hidden name="LAWS" id="LAWS"/>
            <label class="b" for="LAWS" style="background: url(/assets/img/Law.png)">
                <label for="LAWS">Law</label>
            </label>

            <input type="checkbox" hidden name="MECM" id="MECM"/>
            <label
                    class="b"
                    for="MECM"
                    style="background: url(/assets/img/Media.png)"
            >
                <label for="MECM" style="background-color: rgba(158, 105, 189, 0.7)"
                >Media</label
                >
            </label>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <div class="group">
            <input type="checkbox" hidden name="MEDI" id="MEDI"/>
            <label
                    class="b"
                    for="MEDI"
                    style="background: url(/assets/img/Medicine.png)"
            >
                <label for="MEDI" style="background-color: rgba(39, 109, 201, 0.7)"
                >Medicine</label
                >
            </label>

            <input type="checkbox" hidden name="NURS" id="NURS"/>
            <label
                    class="b"
                    for="NURS"
                    style="background: url(/assets/img/Nursing.png)"
            >
                <label for="NURS" style="background-color: rgba(56, 122, 209, 0.616)"
                >Nursing</label
                >
            </label>

            <input type="checkbox" hidden name="HLTH" id="HLTH"/>
            <label
                    class="b"
                    for="HLTH"
                    style="background: url(/assets/img/Health_Science.png)"
            >
                <label for="HLTH" style="background-color: rgba(31, 92, 172, 0.7)"
                >Health Science</label
                >
            </label>

            <input type="checkbox" hidden name="ENGR" id="ENGR"/>
            <label
                    class="b"
                    for="ENGR"
                    style="background: url(/assets/img/Engineering.png)"
            >
                <label for="ENGR" style="background-color: rgba(31, 92, 172, 0.7)"
                >Engineering</label
                >
            </label>
        </div>
    </div>

    <br/>
    <br/>
    <div style="text-align: right">
        <div class="finishbutton">
            <button type="submit">Finish</button>
        </div>
    </div>

    <br/>
    <br/>
</form>
