<nav>
  <div class="container navbar-container">
    <img src="/static/Subject Review Logo.png" />
    <form class="nav-searchbar" action="/subject/" id="search" method="get">
      <input
        style="padding-left: 1em"
        type="text"
        placeholder="Enter Subject Name/Code..."
        name="code"
      />
      <button type="submit">
        <span class="material-symbols-outlined">search</span>
      </button>
    </form>
    <ul class="navbar-menu">
      <li><a name="home" href="/home">Home</a></li>
      <li><a name="browse" href="/browse">Browse</a></li>
      <li><a name="history" href="/history">History</a></li>
      <script type="text/javascript">
        function handleSelect(selection)
        {
          if (selection == "Write") {
          // need fix
          }
          else if (selection == "Setting") {
            window.location.href = '/account'
          }
          else if (selection == "Logout") {
            window.location.href = '/logout'
          }
        }
      </script>

      <select name="Account" onchange="javascript:handleSelect(this.value)" id="Account">
        <option value="" selected disabled hidden>Account</option>
        <option value="Write">Write</option>
        <option value="Setting">Setting</option>
        <option value="Logout">Logout</option>
      </select>
    </ul>
  </div>
</nav>

<script>
  document.getElementsByName("<%=locals.title%>")[0].classList.add("active");
</script>
