<nav>
  <div class="container navbar-container">
    <img src="/static/Subject Review Logo.png" />
    <form class="nav-searchbar" action="/subject/" id="search" method="get">
      <input
        style="padding-left: 1em"
        type="text"
        placeholder="Enter Subject Name/Code..."
        name="code"
      />
      <button type="submit">
        <span class="material-symbols-outlined">search</span>
      </button>
    </form>
    <ul class="navbar-menu">
      <li><a name="home" href="/home">Home</a></li>
      <li><a name="browse" href="/browse">Browse</a></li>
      <li><a name="history" href="/history">History</a></li>
      <li><a name="account" href="/account">Account</a></li>
    </ul>
  </div>
</nav>

<script>
  document.getElementsByName("<%=locals.title%>")[0].classList.add("active");
</script>
