*{
    margin: auto;
    padding: 0%;

}

body{
    background-color:#3B3B3B;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
}

.x{
    text-align: right;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 14%;

}

.x .exit{
    width: 4%;
}

.email{
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 17%;

}


.space {
    width: 25px;
    height: auto;
    display: inline-block;
}

.content .login .logo{
    text-align: center;
} 


.content{
    width:350px;
    margin-top: 200px;

}

.content .login {
    margin:20px 10px 5px 20px;
}

.content .login ul{
    list-style: none;
    margin-top: 20px;
}

.content .login ul li{
    margin-top: 2px; 
}
.content .login ul li input{
    line-height: 30px;
    width: 290px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1E1E1E;
    border : none;
}



.content .login ul li label{
    color: white;
    font-size: 18px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content a{
    color:#A660A1;
    text-decoration: none;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    


}
.content .loginbutton{
    text-align: center;
    margin-top: 20px;
}


.content .loginbutton button{
    width: 140px;
    height: 45px;
    background-color: #6A4873;
    border:none;
    color:#fff;
    font-size: 18px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;


}

.content p{
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:20px;
}

.content .signupbutton{
    text-align: center;
    margin-top: 20px;
}

.content .signupbutton button{
    width: 140px;
    height: 45px;
    background-color: #6A4873;
    border:none;
    color:#fff;
    font-size: 18px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.content .landingpagebutton{
    text-align: center;
}

.content .landingpagebutton button{
    width: 140px;
    height: 45px;
    background-color: #3B3B3B;
    border-color:white;
    color:#fff;
    font-size: 18px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.content .confirmbutton{
    text-align: center;
    margin-top: 40px;
}

.content .confirmbutton button{
    width: 140px;
    height: 40px;
    background-color: #6A4873;
    border: none;
    color:#fff;
    font-size: 18px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.Emailsent{
    text-align: center;
}

.Emailsent .sent p{
    line-height: 40px;
    font-size: 28px;
    color: #fff;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.Emailsent .emailsentbutton{
    text-align: center;
}

.Emailsent .emailsentbutton button{
    width: 110px;
    height: 60px;
    border: none;
    background-color: #6A4873;
    border-color:white;
    color:#fff;
    font-size: 28px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.Emailsent a{
    color:#EFC0EC;
    font-size: 26px;
    text-decoration: none;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.forgetemail{
    color: #fff;
    width:580px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.forgetemail h1{
    color: #fff;
    font-size: 52px;
    text-align: center;
    font-weight:300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.forgetemail p{
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.forgetemail .forget{
    margin:20px 10px 5px 20px;
}

.forget ul{
    list-style: none;
    margin-top: 20px;
}

.forget ul li{
    margin-top: 2px; 
}
.forget ul li input{
    line-height: 50px;
    width: 550px;
    font-size: 23px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1E1E1E;
    border : none;
}

.forget ul li label{
    color: #fff;
    font-size: 25px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.forgetemail .sendemailbutton{
    text-align: right;
    padding-right: 20px;
}
.forgetemail .sendemailbutton button{
    width: 230px;
    height: 55px;
    border: none;
    background-color: #6A4873;
    border-color:#fff;
    color:#fff;
    font-size: 25px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}


/* For Navigation Bar */
.navbar {
    background: #333333;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.navbar .nav-items {
    display: flex;
}

.navbar .nav-items li {
    list-style: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.navbar .nav-items li a {
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    text-decoration: none;
}

.navbar .nav-items li a:hover {
    background-color: #6A4873;
}

.navbar a.active {
    border-bottom: 3px solid #6A4873;
  }

.navbar .searchbar {
    margin-top: -60px;
    margin-left: 400px;
}

.navbar .searchbar input[type="text"] {
    border: 0;
    padding: 10px;
    width: 550px;
    height: 28px;
}

.write-review{
    background-color: #333333;
    width: 100%;
    height: 180px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.welcome-title{
    margin-left: 120px;
    font-size: 50px;
    font-weight: lighter;
    color: white;
}

.write-review-button{
    margin-left: 120px;
    width: 110px;   
    padding: 10px;
    border: none;
    background-color: #6A4873;
    color:#fff;
    font-size: 16px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    text-align: center;
}

/*Review Section*/
.review-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
.review-section .col {
    padding:5px;
    width: 25%;
    height: 200px;
    color:white; 
    background: #6A4873;
}

.review-section .col h1 {
    padding:5px;
    font-weight: lighter;
    font-size: 30px;
}

.review-section .col h2 {
    padding:5px;
    color:white; 
    background: #6a4873c3;
    font-weight: lighter;
    font-size: 12px;
}

.review-section .heart-icon span{
    float: right;
    font-size: 50px;
}

.heart-icon span:hover{
    color: #EFC0EC;
    cursor: pointer;
}

.review-section .star-review{
    padding:5px;
}

.review-section .star-review .checked{
    color: #A660A1;
}

.star-review span:hover {
    color:#A660A1;
}

.review-section p{
    font-size:16px;
    padding: 5px;
}

.review-section footer{
    padding-right: 10px;
    font-size: 12px;
    font-weight: lighter;
    float:right;
}

