<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subjects Review-Appearence</title>
    <link rel="stylesheet" href="../../assets/css/style.css" />
  </head>

  <body>
    <div class="setting" style="position: relative">
      <div class="navi" style="position: absolute">
        <ul>
          <li>
            <img src="../../assets/img/Subject%20Review%20Logo.png" alt="" />
          </li>
          <li>
            <a href="" class="active"><span>Appearence</span></a>
          </li>
          <li>
            <a href="/settings"><span>Account</span></a>
          </li>
          <li>
            <a href="/settings/interests"><span>Interest areas</span></a>
          </li>
          <li>
            <a href="/logout"><span>Logout</span></a>
          </li>
          <li>
            <a href="/home"><span>Close</span></a>
          </li>
        </ul>
      </div>

      <div class="appearence">
        <h1>Appearence</h1>
        <img src="../../assets/img/close%20button.png" alt="" />

        <div class="theme">
          <br /><br />
          <label>Theme</label>

          <div>
            <div class="btngroup">
              <div class="dark">
                <button type="button" class="active">Dark mode</button>
              </div>

              <div class="light">
                <button type="button">Light mode</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
