<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-Account</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>


<body>
    <div class="setting" style="position: relative;">
        <div class="navi" style="position: absolute;">
            <ul>
                <li>
                    <img src="../assets/img/Subject Review Logo.png" alt="">
                </li>
                <li><a href="Appearence-Setting.html"><span>Appearence</span></a></li>
                <li><a href="Account-setting.html"><span>Account</span></a></li>
                <li><a href="Interest_areas-setting .html" class="active"><span>Interest areas</span></a></li>
                <li><a href="Landing.html"><span>Logout</span></a></li>
                <li><a href=""><span>Close</span></a></li>
            </ul>
        </div>

        <div class="area">
            
            <h1>Interest areas</h1>
            <img src="../assets/img/close button.png" alt="">

            <div class="areas">
                <ul style="padding-top:5%;">
                    <li><button>Architecture</button></li>
                    <li><button>Business</button></li>
                    <li><button>Design</button></li>
                </ul>

                <ul>
                    <li><button>Education</button></li>
                    <li><button>Engineering</button></li>
                    <li><button>Environment</button></li>
                </ul>

                <ul>
                    <li><button>Food</button></li>
                    <li><button>Health sciences</button></li>
                    <li><button>Sociology</button></li>
                </ul>

                <ul>
                    <li><button>Infomation technology</button></li>
                    <li><button>Law</button></li>
                    <li><button>Media</button></li>
                </ul>

                <ul>
                    <li><button>Medicine</button></li>
                    <li><button>Nursing</button></li>
                    <li><button>Psychology</button></li>
                </ul>

                <ul style="padding-bottom:5%;">
                    <li><button>Science</button></li>
                    <li><button>Sports</button></li>
                </ul>
    
                
    
            </div>
         

        </div>
   

    </div>
  
    
</body>
</html>