
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-Enter_review_window</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <div class="re">
        <div class="x2">
            <img src="../../assets/img/x.png" alt="" class="exit2">
        </div>
        <h1>Review your subject</h1>
    
    <div class="subject">

        <ul>
            <li><label>Subject Name</label></li>
            <li><input type="text" placeholder=" Enter the subject name..." style="width: 50%;"></li>
        </ul>

        <ul>
            <li><label>Subject Code</label></li>
            <li><input type="text" placeholder=" Enter the subject code..." style="width: 50%;"></li>
        </ul>

        <ul>
            <li><label>Field of study(optional)</label></li> 
            <li><span>
                <select style="width: 50%;">
                    <option>---select---</option>
                    <option>Architecture</option>
                    <option>Business</option>
                    <option>Design</option>
                    <option>Education</option>
                    <option>Engineering</option>
                    <option>Environment</option>
                    <option>Food</option>
                    <option>Health Science</option>
                    <option>Sociology</option>
                    <option>IT</option>
                    <option>Law</option>
                    <option>Media</option>
                    <option>Medicine</option>
                    <option>Nursing</option>
                    <option>Psychology</option>
                    <option>Science</option>
                    <option>Sport</option>
                </select>
                </span>
            </li>
        </ul>





        <ul>
            <li><label>Rate</label></li>
            <li>
                <a id="a" href="#a"></a>
                <a id="b" href="#b"></a>
                <a id="c" href="#c"></a>
                <a id="d" href="#d"></a>
                <a id="e" href="#e"></a>
            </li>
        </ul>


        <ul>
            <li><label>Review Content</label></li>
            <li>
                <textarea id="Com" class="font" placeholder=" Enter your review..."></textarea>
            </li>
        </ul>
        <div style="text-align:right;">
            <input type="radio" id="" > <label>Visible</label>
            <input type="radio" id=""> <label>Private</label>
        </div>
        

    </div>


<br>
<br>
    <div style="text-align:center;"> 
        <div class="btngroup"> 
            <div class="backbutton">
                <button type="button">Close</button>
            </div>

            <div class="finishbutton">
                <button type="button">Submit</button>
            </div>
        </div> 
    </div>  


</div>
</div>
<br>
<br>
<br>
<br>
    
</body>
</html>
