<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-Login_reminder_window</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>


<body>
    <div class="confirmation">
        <div class="x3">
            <img src="../assets/img/x.png" alt="" class="exit3">
        </div>
        
        <br>
    
        <div class="Emailsent">   
            <div class="sent">
                <p>Login to see the whole review and</p>
                <P>unlock more features!</P>   
            </div>

            <br>
            <br>
            <div class="log_in_button">
                <button type="button">Login</button>
            </div>
            

    
        </div>
    </div>
</body>

</html>