<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-signup</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="content">
        <div class="login">
            <div class="logo">
                <img src="../assets/img/Subject Review Logo.png" alt="">
            </div>
            <ul>
                <li><label>New password</label></li>
                <li><input type="password" placeholder=" Enter your new password..."></li>
            </ul>

            <ul>
                <li><label>Confirm new password</label></li>
                <li><input type="password" placeholder=" Enter your new password again..."></li>           
            </ul> 
        </div>

        <div class = "confirmbutton">
                <button type="button">Confirm</button>
        </div>     
    </div>
</body>
</html>