<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjects Review-Subject_information_window</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div class="re">
        <div class="x2">
            <img src="../assets/img/x.png" alt="" class="exit2">
        </div>
    <h1>Subject Information</h1>
    <br>
    <br>
    <div class="subject">
        <ul>
            <li><label>Subject Code</label></li>
            <li><input type="text"></li>
        </ul>

        <ul>
            <li><label>Subject Name</label></li>
            <li><input type="text"></li>
        </ul>


        <ul>
            <li><label>Field of study(optional)</label></li>
            <li><span>
                <select >
                    <option>---select---</option>
                    <option>Architecture</option>
                    <option>Business</option>
                    <option>Design</option>
                    <option>Education</option>
                    <option>Engineering</option>
                    <option>Environment</option>
                    <option>Food</option>
                    <option>Health sciences</option>
                    <option>Sociology</option>
                    <option>Information technology</option>
                    <option>Law</option>
                    <option>Media</option>
                    <option>Medicine</option>
                </select>
                </span>
            </li>
        </ul>

    </div>


<br>
<br>
    <div style="text-align:right;"> 
        <div class="btngroup"> 
            <div class="backbutton">
                <button type="button">Close</button>
            </div>

            <div class="finishbutton">
                <button type="button">Change</button>
            </div>
        </div> 
    </div>  


</div>


    
</body>
</html>
