<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Subjects Review: interests</title>
    <link rel="stylesheet" href="../../assets/css/style.css"/>
</head>

<body>
<div class="setting" style="position: relative">
    <div class="navi" style="position: absolute">
        <ul>
            <li>
                <img src="../../assets/img/Subject%20Review%20Logo.png" alt=""/>
            </li>
            <li>
                <a href="/settings/appearance"><span>Appearance</span></a>
            </li>
            <li>
                <a href="/settings"><span>Account</span></a>
            </li>
            <li>
                <a href="" class="active"><span>Interest areas</span></a>
            </li>
            <li>
                <a href="/logout"><span>Logout</span></a>
            </li>
            <li>
                <a href="/home"><span>Close</span></a>
            </li>
        </ul>
    </div>

    <form action="/settings/interest_areas" method="post">
        <div class="area">
            <h1>Interest areas</h1>

            <a href="/home">
                <img src="../../assets/img/close%20button.png" alt=""/>
            </a>

            <div class="areas">
                <ul style="padding-top: 5%">
                    <li>
                        <input
                                type="checkbox"
                                hidden
                                name="ARCH"
                                id="ARCH"
                                onclick="myFunction()"
                        />
                        <label class="b" for="ARCH">Architecture</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="BUSA" id="BUSA"/>
                        <label class="b" for="BUSA">Business</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="DESN" id="DESN"/>
                        <label class="b" for="DESN">Design</label>
                    </li>
                </ul>

                <ul>
                    <li>
                        <input type="checkbox" hidden name="EDUC" id="EDUC"/>
                        <label class="b" for="EDUC">Education</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="sports" id="sports"/>
                        <label class="b" for="sports">Sports</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="envi" id="envi"/>
                        <label class="b" for="envi">Enviroment</label>
                    </li>
                </ul>

                <ul>
                    <li>
                        <input type="checkbox" hidden name="FOOD" id="FOOD"/>
                        <label class="b" for="FOOD">Food</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="SCIE" id="SCIE"/>
                        <label class="b" for="SCIE">Science</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="SOCI" id="SOCI"/>
                        <label class="b" for="SOCI">Sociology</label>
                    </li>
                </ul>

                <ul>
                    <li>
                        <input type="checkbox" hidden name="INFO" id="INFO"/>
                        <label class="b" for="INFO">IT</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="LAWS" id="LAWS"/>
                        <label class="b" for="LAWS">Law</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="MECM" id="MECM"/>
                        <label class="b" for="MECM">Media</label>
                    </li>
                </ul>

                <ul>
                    <li>
                        <input type="checkbox" hidden name="MEDI" id="MEDI"/>
                        <label class="b" for="MEDI">Medicine</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="NURS" id="NURS"/>
                        <label class="b" for="NURS">Nursing</label>
                    </li>
                    <li>
                        <input type="checkbox" hidden name="HLTH" id="HLTH"/>
                        <label class="b" for="HLTH">Health Science</label>
                    </li>
                </ul>

                <ul style="padding-bottom: 5%">
                    <li>
                        <input type="checkbox" hidden name="ENGR" id="ENGR"/>
                        <label class="b" for="ENGR">Engineering</label>
                    </li>
                </ul>
            </div>

            <div class="editInterest">
                <br/>
                <br/>
                <button type="submit">Edit</button>
            </div>

            <script>
                var interestsString =
                    '<%- JSON.stringify(locals.fieldsOfInterest) %>'
                var inputs = document.getElementsByTagName('input')

                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].type == 'checkbox') {
                        inputs[i].checked = interestsString.includes(inputs[i].id)
                    }
                }
            </script>
        </div>
    </form>
</div>
</body>
</html>
